@*@using CaptchaMvc.HtmlHelpers
@using CaptchaMvc;*@
@using SBM_POWER_BI.Models
@using BotDetect.Web.Mvc;
@model LoginModel

@{
    ViewBag.Title = "Login";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Login - SBM Power BI</title>
    <link rel="shortcut icon" type="image/x-icon" href="~/Theme/RFQ/LOGO1.png">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <link rel="stylesheet" href="~/Theme/RFQ/new-login-assets/bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Theme/RFQ/new-login-assets/bower_components/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/Theme/RFQ/new-login-assets/bower_components/Ionicons/css/ionicons.min.css" />
    <link rel="stylesheet" href="~/Theme/RFQ/new-login-assets/dist/css/AdminLTE.min.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/Theme/RFQ/new-login-assets/dist/css/additional.css" />
    <link rel="stylesheet" href="~/Theme/RFQ/new-login-assets/dist/css/new_login_style.css" />
    <link href="@BotDetect.Web.CaptchaUrls.Absolute.LayoutStyleSheetUrl" rel="stylesheet" type="text/css" />
    <link href="~/Theme/RFQ/new-login-assets/toastr/toastr.min.css" rel="stylesheet" />
    <script src="~/Theme/RFQ/new-login-assets/toastr/jquery.min.js"></script>
    <script src="~/Theme/RFQ/new-login-assets/toastr/toastr.min.js"></script>

    <script src="~/Theme/RFQ/sweetalert2.min.js"></script>
    <link rel="stylesheet" href="~/Theme/RFQ/sweetalert2.min.css">

    <link rel="stylesheet" href="~/Content/Captcha/icon-captcha.css">
    <script src="~/Scripts/icon-captcha-main.js"></script>
    <script src="~/Scripts/icon-captcha.js"></script>
    <script src="~/Scripts/icon-captcha.min.js"></script>

    <script>
        function showError(message) {
            toastr["error"](message + "");
        }
        function showWarning(message) {
            toastr["warning"](message + "");
        }
        function showSuccess(message) {
            toastr["success"](message + "");
        }
        document.addEventListener('wheel', function (e) {
            if (e.ctrlKey === true) {
                e.preventDefault();
            }
        });
        document.addEventListener('touchmove', function (e) {
            e.preventDefault();
        }, { passive: false });
        function checkElement() {
            var element = document.querySelector('a[href="//captcha.org/captcha.html?asp.net"]');

            if (element) {
                element.parentNode.removeChild(element);
            } else {
                setTimeout(checkElement, 1000);
            }
        }
        checkElement();

    </script>
    <style>
        td {
            text-transform: uppercase !important;
        }

        th {
            text-transform: uppercase !important;
        }

        * {
            text-transform: uppercase !important;
        }

        .custom-pullover {
            background-image: linear-gradient(to right, #115C98, #1E9AD6);
            width: 20vw;
            padding: 1.5vw 0vw 1.5vw 2vw;
            color: #fff;
            margin-bottom: 1vw;
            margin-top: 2vw;
            border-radius: 0vw 2.5vw 2.5vw 0vw;
            font-size: 1.5vw;
            line-height: 1.5vw;
        }


        .login,
        .image {
            min-height: 100vh;
        }

        .bg-image {
            height: 100vh;
            background-image: url('../PBI/Theme/RFQ/new-login-assets/Images/desktop-img4.png');
            background-size: cover;
            background-position: center center;
        }


        .bg-image2 {
            height: 100vh;
            opacity: 50%;
            background-color: red;
            background-size: cover;
            background-position: center center;
        }
    </style>

</head>

<body>
    <div class="container-fluid full-height">
        <div class="row full-height">
            <div class="col-md-12 full-height">
                <div class="row full-height">
                    <div class="col-md-6 custom-side-page bg-image" style="opacity:90%">
                        <div class="row full-height">
                            <div class="col-md-12">
                                <div class="text-center custom-img-container desktopcontent">
                                    @*<img src="~/Theme/RFQ/LOGO1.png" alt="" class="img-fluid img-logo-web" style="background-color:transparent; width: 10%">
                                    <p style="font-size: 45px; color: #1a5884;"><b>SBM POWER BI</b></p>*@
                                </div>
                                @*<div class="text-center custom-img-container desktopcontent">
                                    <img src="~/Theme/RFQ/new-login-assets/Images/desktop-img4.png" alt="" class="img-fluid img-login-web">
                                </div>*@
                                <div style="display: none;">
                                    <div style="height: 360px;">
                                        <div class="text-center custom-mobile-img-container">
                                            @*<img src="../Theme/RFQ/new-login-assets/Images/mobile-logo.png" alt="" class="img-fluid img-logo-mobile">*@
                                            <div class="custom-mobile-title">
                                                <h1><b>SBM POWER BI</b></h1>
                                                <div>
                                                    -
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 custom-login-page">
                        <div class="row full-height">
                            <div class="col-md-12 desktopcontent">
                                <div class="custom-pullover">Welcome back</div>
                            </div>
                            <div class="col-lg-8 col-lg-offset-2 col-md-8 col-md-offset-2 col-sm-12">
                                <div class="desktopcontent">
                                    <h5 class="custom-app-title"><b>SBM POWER BI</b></h5>
                                    <b>Log in to access your account</b>
                                </div>
                                <div class="login-form">

                                    @using (Html.BeginForm("Login", "Authentication", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { role = "form" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group has-feedback">
                                            @Html.LabelFor(model => model.WINDOWS_ID, "WINDOWS ACCOUNT")
                                            <div class="input-group">
                                                @Html.EditorFor(model => model.WINDOWS_ID, new { htmlAttributes = new { @class = "form-control custom-input", placeholder = "Enter your Windows ID", autocomplete = "off" } })
                                                <div class="input-group-addon icon-group">
                                                    <span class="glyphicon glyphicon-user icon-login"></span>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group has-feedback">
                                            @Html.LabelFor(model => model.PASSWORD, "WINDOWS PASSWORD")
                                            <div class="input-group">
                                                @Html.PasswordFor(model => model.PASSWORD, new { @class = "form-control custom-input", placeholder = "Enter your password", autocomplete = "off" })
                                                <div class="input-group-addon icon-group">
                                                    <span class="fa fa-lock icon-login"></span>
                                                </div>
                                            </div>
                                        </div>
                                        @*<div class="row">
                                            <div class="col-md-6">
                                                @{
                                                    MvcCaptcha exampleCaptcha = new MvcCaptcha("ExampleCaptcha");
                                                    exampleCaptcha.UserInputID = "CaptchaCode";
                                                }
                                                @Html.Captcha(exampleCaptcha)
                                            </div>
                                            <div class="col-md-6">
                                                @Html.TextBox("CaptchaCode", null, new { @class = "form-control custom-input", placeholder = "Enter Code", autocomplete = "off" })
                                            </div>
                                        </div>*@
                                        <div class="captcha-holder"></div>
                                        <br />
                                        <button type="submit" class="btn btn-primary custom-btn-rounded form-control btn-block mb-4">Sign In</button>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
    @{
        if (TempData["FAILED"] != null)
        {
            <script type="text/javascript">
            alert('@TempData["FAILED"]')
            </script>
        }
        if (TempData["SUCCESS"] != null)
        {
            <script type="text/javascript">
            alert('@TempData["SUCCESS"]')
            </script>
        }
    }

</body>
</html>
